.brand-logos-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  .container {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    background-color: #f1fbff;

    .content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 6rem 10rem;

      @media only screen and (max-width: 780px) {
        padding: 8.8rem 6.4rem;
      }

      h4 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: $dark-color;
        text-transform: uppercase;
      }

      .brand-logos-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        div {
          display: flex;
          justify-content: center;
        }

        img {
          padding: 2.5rem 3rem;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media only screen and (max-width: 780px) {
  .content-container {
    padding: 2rem;
  }
}
