.brand-logos-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 5rem;

  .brand-logos-container {
    display: flex;
    flex-direction: column;
    max-width: 1240px;
    background-color: #f1fbff;
    margin: 0 12px;
    padding: 8.4rem 6.4rem;
    border-radius: 5px;

    .brand-logos-content-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        font-size: 1.2rem;
        letter-spacing: 1px;
        color: $dark-color;
        text-transform: uppercase;
        margin-top: 4px;
        margin-bottom: 26px;
      }

      .brand-logos-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        div {
          display: flex;
          justify-content: center;
          padding: 8px 3rem;
        }

        img {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .brand-logos-container {
    width: 100%;
  }
}
