.intro-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10rem 0;
}

.intro-section-container {
  max-width: 1240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6rem;
}

.intro-section-visual-part {
  width: 700px;

  img {
    width: 100%;
    padding: 4rem 6rem;
  }
}

.intro-section-content {
  display: flex;
  padding: 4rem 6rem;
  column-gap: 4rem;
  flex-direction: column;
  width: 600px;

  h1 {
    font-size: 4.5rem;
    font-weight: 700;
    text-align: left;
  }

  p {
    font-size: 2rem;
    margin-top: 2rem;
    color: $dark-color;
  }

  .intro-section-buttons-container {
    margin-top: 5rem;
    a {
      font-size: 1.5rem;
      display: inline-block;
      letter-spacing: 0.2rem;
      width: 16.8rem;
      height: 5.4rem;
      line-height: 5.4rem;
      text-align: center;
      display: inline-block;
      margin-right: 3rem;
      text-transform: uppercase;
      cursor: pointer;
    }

    a:first-child {
      background-color: $primary-color;
      color: #fff;
      border-radius: 3px;
      border: 2px solid $primary-color;
      transition: background-color 0.2s, border-color 0.2s;

      &:hover {
        background-color: darken($primary-color, 10%);
        border-color: darken($primary-color, 10%);
      }
    }

    a:last-child {
      border: 2px solid $primary-color;
      color: $primary-color;
      border-radius: 3px;

      transition: border-color 0.2s, color 0.2s;

      &:hover {
        border-color: darken($primary-color, 10%);
        color: darken($primary-color, 10%);
      }
    }
  }
}
