.navbar {
  display: flex;
  justify-content: center;
  position: fixed;
  inset: 0 0 unset 0;
  width: 100%;
  background-color: #fff;
  color: $dark-color;
  font-size: 1.5rem;
  z-index: 10;
  border-bottom: 1px solid #fff;
  transition: border-bottom 0.2s, transform 0.3s;
  transform: translateY(-100%);

  &.active {
    border-bottom: 1px solid $white-color-light;
    transform: translateY(0);
  }

  .open-menu-btn {
    display: none;

    @media only screen and (max-width: 1060px) {
      display: block;
      position: absolute;
      right: 0;
      top: 50%;
      margin-right: 2%;
      border: none;
      transform: translateY(-50%);
      background-color: #edf3fa;
      padding: 11px;
      height: 43px;
      font-size: 1.6rem;
      border-radius: 5px;
      cursor: pointer;

      i {
        font-size: 2rem;
      }
    }
  }

  &__container {
    display: flex;
    padding: 1.5rem 0;
    // justify-content: space-between;
    width: 1150px;
    align-items: center;

    .logo__container {
      padding: 8px 16px;
    }

    .navbar__list-btns-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: auto;
      // padding-left: 30px;
    }

    .buttons__container {
      display: flex;
      align-items: center;
      margin-left: 4rem;

      .signIn-btn {
        a {
          display: inline-block;
          padding: 8px 16px 8px 0;
          text-decoration: none;
          color: $dark-color;
          transition: color 0.2s;
          font-size: 1.8rem;
        }

        @media only screen and (max-width: 1060px) {
          width: 100%;
          font-size: 1.4rem;
        }

        &:hover a {
          color: darken($primary-color, 5%);
        }
      }

      .startFree-btn {
        background-color: $primary-color;
        text-align: center;
        border-radius: 10px;
        text-transform: uppercase;
        margin: 0 1rem;

        transition: background-color 0.2s;

        @media only screen and (max-width: 1060px) {
          width: 100%;
          margin: 0;
          border-radius: 4px;
        }
        a {
          display: inline-block;
          font-size: 1.8rem;
          padding: 14px 18px;
          text-decoration: none;
          color: #fff;
          @media only screen and (max-width: 1060px) {
            padding: 20px;
          }
        }

        &:hover {
          background-color: darken($primary-color, 5%);
        }
      }
    }
  }

  &__list {
    display: flex;
    list-style: none;

    &-item:last-child {
      padding-left: 0;
    }

    &-item {
      font-family: "vazir";
      font-size: 1.6rem;
      padding: 8px 16px;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@keyframes upToDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}

@media only screen and (max-width: 1150px) {
  .navbar__container {
    width: 100%;
  }
}

@media only screen and (max-width: 1060px) {
  .navbar__list-btns-container {
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 0;
    padding: 0;
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $white-color-light;
    border-bottom: 1px solid $white-color-light;
    transition: 0.5s ease;
    &.open {
      max-height: 500px;
      padding: 40px 0 50px 0;
    }

    .buttons__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 95%;
      margin: 0;
      margin-top: 2.4rem;

      .signIn-btn {
        border: 1px solid $primary-color;
        border-radius: 4px;
        text-align: center;
        width: 100%;
        margin-bottom: 2rem;
        transition: 0.2s;

        &:hover {
          border-color: darken($primary-color, 10%);
        }

        a {
          padding: 20px;
          color: $primary-color;
          text-transform: uppercase;
        }
      }
    }
  }

  .navbar__list {
    flex-direction: column;

    &-item:last-child {
      padding-left: 16px;
    }

    &-item {
      text-align: center;
      font-size: 2.4rem;
      padding: 8px 16px;
      margin-bottom: 8px;
      text-decoration: none;
    }
  }
}
