.site-section {
  width: 100%;
  padding: 10rem 0;
  display: flex;
  justify-content: center;

  .site-section-container {
    max-width: 1240px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .site-section-content {
      width: 40%;
      padding: 4rem 6rem;

      @media only screen and (max-width: 1280px) {
        padding: 2rem 0 2rem 2rem;
      }

      @media only screen and (max-width: 960px) {
        width: 50%;
      }

      @media only screen and (max-width: 768px) {
        width: 100%;
        padding: 0 1.2rem;
      }

      h5 {
        font-size: 3rem;

        @media only screen and (max-width: 768px) {
          font-size: 3.2rem;
        }
      }

      p {
        font-size: 1.6rem;
        color: $dark-color;
        margin-top: 1.6rem;
        line-height: 3rem;
      }

      .site-section-link-container {
        margin-top: 2.4rem;
        display: flex;
        align-items: center;
        color: #0085e4;
        font-size: 1.5rem;
        a {
          all: unset;
          cursor: pointer;
        }

        i {
          margin-left: 0.5rem;
          transition: transform 0.2s;
        }

        &:hover {
          color: lighten(#0085e4, 5%);
        }

        &:hover i {
          transform: translateX(10px);
        }
      }
    }
    .site-section-image-container {
      width: 700px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #d5f3ff;
      clip-path: circle(47.6% at 51% 100%);
      transform: translateY(-20%);
      overflow: hidden;

      @media only screen and (max-width: 1115px) {
        width: 60%;
      }

      @media only screen and (max-width: 960px) {
        width: 700px;
      }

      @media only screen and (max-width: 768px) {
        transform: translateY(-40%);
      }

      @media only screen and (max-width: 690px) {
        width: 100%;
      }

      img {
        width: 70%;
        padding: 2rem 3rem;
        transform: translateY(30%);
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .site-section-content {
    padding: 2rem 0 2rem 2rem;
  }

  .site-section-container {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .site-section-image-container {
    width: 50%;
  }
}

@media only screen and (max-width: 960px) {
  .site-section-image-container {
    margin-right: -35%;
  }
}

@media only screen and (max-width: 768px) {
  .site-section-container {
    flex-direction: column;
  }

  .site-section-image-container {
    margin: 0;
  }

  .site-section-content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
